a
  text-decoration: none
  
  &:hover
    text-decoration: underline

.main-nav li
  display: inline-block
  margin-right: 1em

.top-nav li
  display: inline-block
  margin-right: 1em
  font-size: 85%

.series-nav li
  display: inline-block
  margin-right: 1em

.wh-logo
  display: block
  background: transparent embed("wikihouse_logo.png") no-repeat 0 0
  width: 100px
  height: 100px
  
.call-to-action
  margin-top: 20px
  
.main-nav
  float: right
  text-align: right


