.main-nav li
  display: inline-block
  margin-right: 1em


.top-nav li
  display: inline-block
  margin-right: 1em
  font-size: 85%


.designs li
  padding: 1em
  margin: 1em
  border: 1px dashed #ccc


form .field
  padding: 0.5em
  margin: 0.5em
  border: 1px dashed #ccc


.thumbnail img
  width: 80px


.preview img
  width: 320px


li.selected
  border: 1px solid #ccc


.error
  color: red

