<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_("How it Works")}</%def>

<%def name="overview_panel()">
  <div class="row">
    <div class="super-graphic-image">
      <img src="${get_static_url('gfx/slides/slide.01.png')}" />
    </div>
  </div>
  <div class="row">
    <br />
  </div>
</%def>

<%def name="install_panel()">
  <div class="row">
    <div class="super-graphic-image">
      <img src="${get_static_url('gfx/slides/slide.02.png')}" />
    </div>
  </div>
  <div class="row">
    Download houses and components which are created and shared by an open community of designers from around the world. Models are combined or adapted using Google Sketchup.
  </div>
</%def>

<%def name="download_panel()">
  <div class="row">
    <div class="super-graphic-image">
      <img src="${get_static_url('gfx/slides/slide.03.png')}" />
    </div>
  </div>
  <div class="row">
    Click 'Make this House' from within Google Sketchup and WikiHouse will generate a complete set of milling drawings from your model, which can be used by a CNC cutter to fabricate the house parts.
  </div>
</%def>

<%def name="print_panel()">
  <div class="row">
    <div class="super-graphic-image">
      <img src="${get_static_url('gfx/slides/slide.04.png')}" />
    </div>
  </div>
  <div class="row">
    The parts are cut by a CNC mill using locally-sourced material. This is 18mm plywood, in the standard sheet size of 2440mm x 1220mm (8' x 4').
  </div>
</%def>

<%def name="assemble_panel()">
  <div class="row">
    <div class="super-graphic-image">
      <img src="${get_static_url('gfx/slides/slide.05.png')}" />
    </div>
  </div>
  <div class="row">
    Set out the parts for each section onto the ground, assembling it like a double-layered jigsaw. You won't need any power tools.
  </div>
</%def>

<%def name="bolt_panel()">
  <div class="row">
    <div class="super-graphic-image">
      <img src="${get_static_url('gfx/slides/slide.06.png')}" />
    </div>
  </div>
  <div class="row">
    Bolt together the two layers to form a single section. Invite friends and family to help with the barn-raising!
  </div>
</%def>

<%def name="main_content(steps)">
  <div class="panels">
    % for item in steps:
      <div id="step-${item['slug']}">
        ${getattr(self, u'%s_panel' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="actions(steps)">
  <ul class="tabs">
    % for item in steps:
      <li class="step step-${item['slug']}">
        <a href="#step-${item['slug']}" data-slug="${item['slug']}">
          ${item['title']}</a>
      </li>
    % endfor
  </ul>
</%def>

<%def name="content()">
  <%
    steps = [{
            'slug': 'overview',
            'title': _(u'Overview')
        }, {
            'slug': 'install',
            'title': _(u'Install the plugin')
        }, {
            'slug': 'download',
            'title': _(u'Download houses &amp; components')
        }, {
            'slug': 'print',
            'title': _(u'Print your design')
        }, {
            'slug': 'assemble',
            'title': _(u'Assemble your house')
        }, {
            'slug': 'bolt',
            'title': _(u'Introduce the Fixings')
        }
    ]
  %>
  <div class="how-it-works-container">
    <div>
      ${self.main_content(steps)}
    </div>
    <div>
      ${self.actions(steps)}
    </div>
  </div>
</%def>
