<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_("How it Works")}</%def>

<%def name="overview_panel()">
  <div class="row">
    <a href="about#step-download"><div class="slide padding-all">
      <div class="super-text"><p>${_(u"""WikiHouse is an open source construction set. The aim is to allow anyone to design, download, and 'print' CNC-milled houses and components, which can be assembled with minimal formal skill or training.""")}</p></div>
    </div></a>
  </div>
</%def>

<%def name="overview_nav_pre()">
</%def>

<%def name="overview_nav_next()">
  <div class="right">
    <a href="about#step-download">&gt;</a>
  </div>
</%def>

<%def name="overview_description()">
</%def>

<%def name="download_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-make"><img src="${get_static_url('gfx/slides/slide.02.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="download_nav_pre()">
  <div class="left">
    <a href="about#step-overview">&lt;</a>
  </div>
</%def>

<%def name="download_nav_next()">
  <div class="right">
    <a href="about#step-make">&gt;</a>
  </div>
</%def>

<%def name="download_description()">
  <div>
    <div class="padding-all about-texts">
      ${_(u"""Download houses which are created and shared in an open library by a community of designers and makers from around the world. """)}
    </div>
  </div>
</%def>

<%def name="make_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-print"><img src="${get_static_url('gfx/slides/slide.03.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="make_nav_pre()">
  <div class="left">
    <a href="about#step-download">&lt;</a>
  </div>
</%def>

<%def name="make_nav_next()">
  <div class="right">
    <a href="about#step-print">&gt;</a>
  </div>
</%def>

<%def name="make_description()">
  <div>
    <div class="padding-all about-texts">
      ${_(u"""Using the WikiHouse plugin for SketchUp, click 'make this house' to generate a set of cutting files for your house parts.""")}
    </div>
  </div>
</%def>

<%def name="print_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-layout"><img src="${get_static_url('gfx/slides/slide.04.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="print_nav_pre()">
  <div class="left">
    <a href="about#step-make">&lt;</a>
  </div>
</%def>

<%def name="print_nav_next()">
  <div class="right">
    <a href="about#step-layout">&gt;</a>
  </div>
</%def>

<%def name="print_description()">
  <div>
    <div class="padding-all about-texts">
      ${_(u"""The parts can be 'printed' from a standard sheet material like plywood, using a CNC machine.""")}
    </div>
  </div>
</%def>

<%def name="layout_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-assemble"><img src="${get_static_url('gfx/slides/slide.05.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="layout_nav_pre()">
  <div class="left">
    <a href="about#step-print">&lt;</a>
  </div>
</%def>

<%def name="layout_nav_next()">
  <div class="right">
    <a href="about#step-assemble">&gt;</a>
  </div>
</%def>

<%def name="layout_description()">
  <div>
    <div class="padding-all about-texts">
      ${_(u"""Set out the numbered parts on the ground like a double-layered jigsaw to assemble a house frame.""")}
    </div>
  </div>
</%def>

<%def name="assemble_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-raise"><img src="${get_static_url('gfx/slides/slide.06.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="assemble_nav_pre()">
  <div class="left">
    <a href="about#step-layout">&lt;</a>
  </div>
</%def>

<%def name="assemble_nav_next()">
  <div class="right">
    <a href="about#step-raise">&gt;</a>
  </div>
</%def>

<%def name="assemble_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""The system does not need bolts. Parts are joined using wedges and pegs. Even the mallets are cut with the house.""")}
    </div>
  </div>
</%def>

<%def name="raise_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-panels"><img src="${get_static_url('gfx/slides/slide.07.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="raise_nav_pre()">
  <div class="left">
    <a href="about#step-assemble">&lt;</a>
  </div>
</%def>

<%def name="raise_nav_next()">
  <div class="right">
    <a href="about#step-panels">&gt;</a>
  </div>
</%def>

<%def name="raise_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""Invite friends and family for the 'barn-raising'. The lightweight frames can be raised by hand, and connected into a house structure. """)}
    </div>
  </div>
</%def>

<%def name="panels_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-services"><img src="${get_static_url('gfx/slides/slide.08.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="panels_nav_pre()">
  <div class="left">
    <a href="about#step-raise">&lt;</a>
  </div>
</%def>

<%def name="panels_nav_next()">
  <div class="right">
    <a href="about#step-services">&gt;</a>
  </div>
</%def>

<%def name="panels_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""Panels are then screwed into place. A small team can assemble a single-storey house in about a day.""")}
    </div>
  </div>
</%def>

<%def name="services_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-commons"><img src="${get_static_url('gfx/slides/slide.09.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="services_nav_pre()">
  <div class="left">
    <a href="about#step-panels">&lt;</a>
  </div>
</%def>

<%def name="services_nav_next()">
  <div class="right">
    <a href="about#step-commons">&gt;</a>
  </div>
</%def>

<%def name="services_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""The chassis is then ready to receive other parts like cladding, services, insulation, and windows. """)}
    </div>
  </div>
</%def>

<%def name="commons_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-start"><img src="${get_static_url('gfx/slides/slide.10.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="commons_nav_pre()">
  <div class="left">
    <a href="about#step-services">&lt;</a>
  </div>
</%def>

<%def name="commons_nav_next()">
  <div class="right">
    <a href="about#step-start">&gt;</a>
  </div>
</%def>

<%def name="commons_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""Together, we can develop open solutions to all of these parts - a global commons of low-cost, high-performance products; a 'wikipedia of stuff'.""")}
    </div>
  </div>
</%def>

<%def name="start_panel()">
  <div class="row slidenav-row">
    <a href="/guide/download">
    <div class="slidenav01 thirds slidenav-pane">
      <div class="navimg">
        <img src="${get_static_url('gfx/slides/slide.12.01.png')}" />
      </div>
      <div class="slidenav-texts">
      ${_(u'DOWNLOAD PLUGIN')} 
      <br /><br />
      ${_(u"""WikiHouse models are made and edited in Google SketchUp. Click here to download the WikiHouse plugin and get started.""")}
      </div>
    </div>
    </a>
    <a href="/library">
    <div class="slidenav02 thirds slidenav-pane">
      <div class="navimg">
        <img src="${get_static_url('gfx/slides/slide.12.02.png')}" />
      </div>
      <div class="slidenav-texts">
      ${_(u'BROWSE DESIGNS')} 
      <br /><br />
      ${_(u"""Click here to browse the warehouse for houses and components. Download, edit and upload models from within SketchUp.""")}
      </div>
    </div>
    </a>
    <a href="/guide">
    <div class="slidenav03 thirds-last slidenav-pane">
      <div class="navimg">
        <img src="${get_static_url('gfx/slides/slide.12.03.png')}" />
      </div>
      <div class="slidenav-texts">
      ${_(u'CNC &amp ASSEMBLE')}
      <br /><br />
      ${_(u"""Find a CNC workshop and cut the parts for your house. It can then be assembled by hand. To find out more click here.""")}
      </div>
    </div>
    </a>
  </div>
</%def>

<%def name="start_nav_pre()">
  <div class="left">
    <a href="about#step-commons">&lt;</a>
  </div>
</%def>

<%def name="start_nav_next()">
</%def>

<%def name="start_description()">
  <div class="slidenav-padding">
  </div>
</%def>

<%def name="main_content(steps)">
  <div class="panels">
    % for item in steps:
      <div id="step-${item['slug']}" style="display:none;">
        ${getattr(self, u'%s_panel' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="pre(steps)">
  <div class="navs-pre">
    % for item in steps:
      <div id="nav-pre-${item['slug']}" style="display:none;">
        ${getattr(self, u'%s_nav_pre' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="actions(steps)">
  <div class="navs-tabs">
  <ul class="tabs">
    % for item in steps:
      <li class="padding-top-bottom navs-links step step-${item['slug']}" data-this-slug="${item['slug']}">
        <a href="#step-${item['slug']}" data-slug="${item['slug']}">
          ${item['title']}</a>
      </li>
    % endfor
  </ul>
  </div>
</%def>

<%def name="next(steps)">
  <div class="navs-next">
    % for item in steps:
      <div id="nav-next-${item['slug']}" style="display:none;">
        ${getattr(self, u'%s_nav_next' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="description(steps)">
  <div class="descriptions">
    % for item in steps:
      <div id="description-${item['slug']}" style="display:none;">
        ${getattr(self, u'%s_description' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="content()">
  <%
    steps = [{
            'slug': 'overview',
            'title': _(u'0')
        }, {
            'slug': 'download',
            'title': _(u'1')
        }, {
            'slug': 'make',
            'title': _(u'2')
        }, {
            'slug': 'print',
            'title': _(u'3')
        }, {
            'slug': 'layout',
            'title': _(u'4')
        }, {
            'slug': 'assemble',
            'title': _(u'5')
        }, {
            'slug': 'raise',
            'title': _(u'6')
        }, {
            'slug': 'panels',
            'title': _(u'7')
        }, {
            'slug': 'services',
            'title': _(u'8')
        }, {
            'slug': 'commons',
            'title': _(u'9')
        }, {
            'slug': 'start',
            'title': _(u'10')
        }
    ]
  %>
  <div class="how-it-works-container">
    <div class="row about-panel">
      ${self.main_content(steps)}
    </div>
    <div class="row">
      ${self.description(steps)}
    </div>
    <div class="row navs-row">
      ${self.next(steps)}
      ${self.pre(steps)}
      ${self.actions(steps)}
    </div>
  </div>
</%def>
