<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_("How it Works")}</%def>

<%def name="overview_panel()">
  <div class="row">
    <a href="about#step-install"><div class="slide padding-all">
      <div class="super-text"><p>${_(u"""WikiHouse is an open source construction set. It's aim is to allow anyone to design, download, and 'print' CNC-milled houses and components, which can be assembled with minimal formal skill or training.""")}</p></div>
    </div></a>
  </div>
</%def>

<%def name="overview_nav_pre()">
</%def>

<%def name="overview_nav_next()">
  <div class="right">
    <a href="about#step-install">&gt;</a>
  </div>
</%def>

<%def name="overview_description()">
</%def>

<%def name="install_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-download"><img src="${get_static_url('gfx/slides/slide.02.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="install_nav_pre()">
  <div class="left">
    <a href="about#step-overview">&lt;</a>
  </div>
</%def>

<%def name="install_nav_next()">
  <div class="right">
    <a href="about#step-download">&gt;</a>
  </div>
</%def>

<%def name="install_description()">
  <div>
    <div class="padding-all about-texts">
      ${_(u"""Download houses and components which are created and shared by an open community of designers from around the world. """)}
    </div>
  </div>
</%def>

<%def name="download_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-print"><img src="${get_static_url('gfx/slides/slide.03.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="download_nav_pre()">
  <div class="left">
    <a href="about#step-install">&lt;</a>
  </div>
</%def>

<%def name="download_nav_next()">
  <div class="right">
    <a href="about#step-print">&gt;</a>
  </div>
</%def>

<%def name="download_description()">
  <div>
    <div class="padding-all about-texts">
      ${_(u"""Click 'Make this House' from within Google Sketchup and WikiHouse will generate a complete set of milling drawings from your model, which can be used by a CNC cutter to fabricate the house parts.""")}
    </div>
  </div>
</%def>

<%def name="print_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-assemble"><img src="${get_static_url('gfx/slides/slide.04.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="print_nav_pre()">
  <div class="left">
    <a href="about#step-download">&lt;</a>
  </div>
</%def>

<%def name="print_nav_next()">
  <div class="right">
    <a href="about#step-assemble">&gt;</a>
  </div>
</%def>

<%def name="print_description()">
  <div>
    <div class="padding-all about-texts">
      ${_(u"""The parts are cut by a CNC mill using locally-sourced material. This is 18mm plywood, in the standard sheet size of 2440mm x 1220mm (8' x 4').""")}
    </div>
  </div>
</%def>

<%def name="assemble_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-bolt"><img src="${get_static_url('gfx/slides/slide.05.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="assemble_nav_pre()">
  <div class="left">
    <a href="about#step-print">&lt;</a>
  </div>
</%def>

<%def name="assemble_nav_next()">
  <div class="right">
    <a href="about#step-bolt">&gt;</a>
  </div>
</%def>

<%def name="assemble_description()">
  <div>
    <div class="padding-all about-texts">
      ${_(u"""Set out the parts for each section onto the ground, assembling it like a double-layered jigsaw. You won't need any power tools.""")}
    </div>
  </div>
</%def>

<%def name="bolt_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-raise"><img src="${get_static_url('gfx/slides/slide.06.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="bolt_nav_pre()">
  <div class="left">
    <a href="about#step-assemble">&lt;</a>
  </div>
</%def>

<%def name="bolt_nav_next()">
  <div class="right">
    <a href="about#step-raise">&gt;</a>
  </div>
</%def>

<%def name="bolt_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""Bolt together the two layers to form a single section.""")}
    </div>
  </div>
</%def>

<%def name="raise_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-primary"><img src="${get_static_url('gfx/slides/slide.07.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="raise_nav_pre()">
  <div class="left">
    <a href="about#step-bolt">&lt;</a>
  </div>
</%def>

<%def name="raise_nav_next()">
  <div class="right">
    <a href="about#step-primary">&gt;</a>
  </div>
</%def>

<%def name="raise_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""Invite friends and family to help with the 'barn-raising'. Stand the sections up vertically, positioning them approximately at 550mm intervals. """)}
    </div>
  </div>
</%def>

<%def name="primary_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-secondary"><img src="${get_static_url('gfx/slides/slide.08.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="primary_nav_pre()">
  <div class="left">
    <a href="about#step-raise">&lt;</a>
  </div>
</%def>

<%def name="primary_nav_next()">
  <div class="right">
    <a href="about#step-secondary">&gt;</a>
  </div>
</%def>

<%def name="primary_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""Insert the primary connectors to stabilise the structure. Use the mallet provided on the milling sheets to hammer the pegs into place.""")}
    </div>
  </div>
</%def>

<%def name="secondary_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-facings"><img src="${get_static_url('gfx/slides/slide.09.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="secondary_nav_pre()">
  <div class="left">
    <a href="about#step-primary">&lt;</a>
  </div>
</%def>

<%def name="secondary_nav_next()">
  <div class="right">
    <a href="about#step-facings">&gt;</a>
  </div>
</%def>

<%def name="secondary_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""Fit the secondary connectors into the slots in the section.""")}
    </div>
  </div>
</%def>

<%def name="facings_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-services"><img src="${get_static_url('gfx/slides/slide.10.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="facings_nav_pre()">
  <div class="left">
    <a href="about#step-secondary">&lt;</a>
  </div>
</%def>

<%def name="facings_nav_next()">
  <div class="right">
    <a href="about#step-services">&gt;</a>
  </div>
</%def>

<%def name="facings_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""Fit the internal and external cladding panels onto the structure. Internally these usually need to be screwed into place.""")}
    </div>
  </div>
</%def>

<%def name="services_panel()">
  <div class="row">
    <div class="slide">
      <a href="about#step-start"><img src="${get_static_url('gfx/slides/slide.11.png')}" /></a>
    </div>
  </div>
</%def>

<%def name="services_nav_pre()">
  <div class="left">
    <a href="about#step-facings">&lt;</a>
  </div>
</%def>

<%def name="services_nav_next()">
  <div class="right">
    <a href="about#step-start">&gt;</a>
  </div>
</%def>

<%def name="services_description()">
  <div>
    <div class="padding-all about-texts">
    ${_(u"""The structure is ready for insulation, cladding, sealing, and services.""")}
    </div>
  </div>
</%def>

<%def name="start_panel()">
  <div class="row slidenav-row">
    <a href="/guide/download">
    <div class="slidenav01 thirds slidenav-pane">
      <div class="navimg">
        <img src="${get_static_url('gfx/slides/slide.12.01.png')}" />
      </div>
      <div class="slidenav-texts">
      ${_(u'DOWNLOAD PLUGIN')} 
      <br /><br />
      ${_(u"""WikiHouse models are made and edited in Google SketchUp. Click here to download the WikiHouse plugin and get started.""")}
      </div>
    </div>
    </a>
    <a href="/library">
    <div class="slidenav02 thirds slidenav-pane">
      <div class="navimg">
        <img src="${get_static_url('gfx/slides/slide.12.02.png')}" />
      </div>
      <div class="slidenav-texts">
      ${_(u'BROWSE DESIGNS')} 
      <br /><br />
      ${_(u"""Click here to browse the warehouse for houses and components. Download, edit and upload models from within SketchUp.""")}
      </div>
    </div>
    </a>
    <a href="/guide">
    <div class="slidenav03 thirds-last slidenav-pane">
      <div class="navimg">
        <img src="${get_static_url('gfx/slides/slide.12.03.png')}" />
      </div>
      <div class="slidenav-texts">
      ${_(u'CNC &amp ASSEMBLE')}
      <br /><br />
      ${_(u"""Find a CNC workshop and cut the parts for your house. It can then be assembled by hand. To find out more click here.""")}
      </div>
    </div>
    </a>
  </div>
</%def>

<%def name="start_nav_pre()">
  <div class="left">
    <a href="about#step-services">&lt;</a>
  </div>
</%def>

<%def name="start_nav_next()">
</%def>

<%def name="start_description()">
  <div class="slidenav-padding">
  </div>
</%def>

<%def name="main_content(steps)">
  <div class="panels">
    % for item in steps:
      <div id="step-${item['slug']}" style="display:none;">
        ${getattr(self, u'%s_panel' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="pre(steps)">
  <div class="navs-pre">
    % for item in steps:
      <div id="nav-pre-${item['slug']}" style="display:none;">
        ${getattr(self, u'%s_nav_pre' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="actions(steps)">
  <div class="navs-tabs">
  <ul class="tabs">
    % for item in steps:
      <li class="padding-top-bottom navs-links step step-${item['slug']}" data-this-slug="${item['slug']}">
        <a href="#step-${item['slug']}" data-slug="${item['slug']}">
          ${item['title']}</a>
      </li>
    % endfor
  </ul>
  </div>
</%def>

<%def name="next(steps)">
  <div class="navs-next">
    % for item in steps:
      <div id="nav-next-${item['slug']}" style="display:none;">
        ${getattr(self, u'%s_nav_next' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="description(steps)">
  <div class="descriptions">
    % for item in steps:
      <div id="description-${item['slug']}" style="display:none;">
        ${getattr(self, u'%s_description' % item['slug'])()}
      </div>
    % endfor
  </div>
</%def>

<%def name="content()">
  <%
    steps = [{
            'slug': 'overview',
            'title': _(u'0')
        }, {
            'slug': 'install',
            'title': _(u'1')
        }, {
            'slug': 'download',
            'title': _(u'2')
        }, {
            'slug': 'print',
            'title': _(u'3')
        }, {
            'slug': 'assemble',
            'title': _(u'4')
        }, {
            'slug': 'bolt',
            'title': _(u'5')
        }, {
            'slug': 'raise',
            'title': _(u'6')
        }, {
            'slug': 'primary',
            'title': _(u'7')
        }, {
            'slug': 'secondary',
            'title': _(u'8')
        }, {
            'slug': 'facings',
            'title': _(u'9')
        }, {
            'slug': 'services',
            'title': _(u'10')
        }, {
            'slug': 'start',
            'title': _(u'11')
        }
    ]
  %>
  <div class="how-it-works-container">
    <div class="row about-panel">
      ${self.main_content(steps)}
    </div>
    <div class="row">
      ${self.description(steps)}
    </div>
    <div class="row navs-row">
      ${self.next(steps)}
      ${self.pre(steps)}
      ${self.actions(steps)}
    </div>
  </div>
</%def>
