<%inherit file="base.tmpl"/>

<%def name="sub_title()">Test Add Form</%def>

<%def name="content()">
  <div id="design-form-progress-indicator">
    <div class="message"></div>
  </div>
  <form id="submit-design-form" 
      action="${request.path}"
      method="POST"
      enctype="multipart/form-data">
    ${xsrf_input}
    <div class="error"></div>
    <div class="field">
      <label for="title">Title</label>
      <input type="text" name="title" id="design-title"/>
      <div class="error"></div>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <textarea name="description" id="design-description"></textarea>
      <div class="error"></div>
    </div>
    <div class="field">
      <label for="series">Series</label>
      <select name="series" multiple="true" id="design-series">
        % for item in series:
          <option value="${item.key().name()}">${item.title}</option>
        % endfor
      </select>
      <div class="error"></div>
    </div>
    <div class="field">
      <label for="verification">Verification status</label>
      <select name="verification" id="design-verification">
        <option value="unverified" selected="selected">
          Not structurally checked
        </option>
        <option value="verified">
          Structurally checked
        </option>
        <option value="built">
          Structurally checked, tested &amp; built
        </option>
      </select>
      <div class="error"></div>
    </div>
    <div class="field">
      <label for="description">Verification notes</label>
      <textarea name="notes" id="design-notes"></textarea>
      <div class="error"></div>
    </div>
    <div class="hidden field">
      <input type="hidden" name="sketchup_version" id="design-sketchup-version"/>
    </div>
    <div class="hidden file-inputs">
      <div class="field">
        <label for="model">Model</label>
        <textarea name="model" id="design-model"></textarea>
      </div>
      <div class="field">
        <label for="model_preview">Model preview image</label>
        <textarea name="model_preview" id="design-model-preview"></textarea>
      </div>
      <div class="field">
        <label for="model_preview_reverse">Reverse model preview image</label>
        <textarea name="model_preview_reverse" id="design-model-preview-reverse"></textarea>
      </div>
      <div class="field">
        <label for="sheets">Cutting sheets</label>
        <textarea name="sheets" id="design-sheets"></textarea>
      </div>
      <div class="field">
        <label for="sheets_preview">Cutting sheets preview image</label>
        <textarea name="sheets_preview" class="design-sheets-preview"></textarea>
      </div>
    </div>
    <input type="submit" name="submit" value="Submit" />
  </form>
</%def>
