<%inherit file="base.tmpl"/>

<%def name="sub_title()">
  % if target:
    ${_("Edit")} ${escape(target.title)}
  % else:
    ${_("Add New Component")}
  % endif
</%def>

<%def name="main_content()">
  <div class="slot-7-8-9 padding-top-bottom">
  <div id="progress-indicator">
    <div class="message"></div>
  </div>
  <%
    if is_sketchup:
      # We are sending base64 encoded data directly to a request handler.
      action = request.path
      method = target and 'PUT' or 'POST'
      enctype = 'application/x-www-form-urlencoded'
    else:
      # We are posting multipart form data via a blobstore handler which makes
      # a POST redirect to our handler.
      action = upload_url
      method = 'POST'
      enctype = 'multipart/form-data'
  %>
  <form id="submit-design-form" action="${action}" method="${method}" enctype="${enctype}"
      target="design-form-communication-frame">
    % if target and is_sketchup:
      <div class="back-to-series-button">
        <a rel="back" href="#back">
          ${_(u'Back to Design')}</a>
      </div>
    % endif
    <div class="padding-right">
      <div class="row padding-bottom">
        <h4>
          % if target:
            ${_("Edit/")}
            &nbsp;
            <a href="/library/designs/${target.key().id()}">${escape(target.title)}</a>
          % else:
            ${_("Add New Component")}
          % endif
        </h4>
      </div>
    </div>
    ${xsrf_input}
    <div class="error"></div>
    <div class="field">
      <div class="field-title padding-left left padding-right-small"><label for="title">${_("Title:")}</label></div>
      <input type="text" name="title" id="design-title"
          value="${target and escape(target.title) or ''}"
      />
      <div class="error"></div>
    </div>
    <div class="field">
      <div class="field-title padding-left left padding-right-small"><label for="description">${_("Description:")}</label></div>
      <textarea name="description" id="design-description">${target and escape(target.description) or ''}</textarea>
      <div class="microcopy">
      	 ${_("""Please provide a comprehensive description of your model. This can include intended use, notes about assembly, prototype lessons, etc...""")}
      </div>
      <div class="error"></div>
    </div>
    <div class="field">
      <div class="field-title padding-left left padding-right-small"><label for="url">${_("Web link:")}</label></div>
      <input name="url" type="text" id="design-url"
          value="${bool(target and target.url) and escape(target.url) or ''}"
      />
      <div class="microcopy">
      	 ${_("""Please provide a valid URL to any external project website or download file.""")}
      </div>
      <div class="error"></div>
    </div>
    <div class="field border-bottom padding-bottom">
      <div class="field-title padding-left left padding-right-small"><label for="series">${_("Series:")}</label></div>
      <select size="6" name="series" multiple="true" id="design-series">
        % for item in series:
          % if target and item.key() in target.series:
            <option value="${item.key().name()}" selected="selected">${item.title}</option>
          % else:
            <option value="${item.key().name()}">${item.title}</option>
          % endif
        % endfor
      </select>
      <div class="microcopy">
      	 ${_("""You can select multiple series by 'Shift-clicking'.""")}
      </div>
      <div class="error"></div>
    </div>
    <div class="field">
      <div class="field-title padding-left left padding-right-small"><label for="component">${_("SK Component:")}</label></div>
      % if target and target.component:
        <input type="checkbox" name="component" value="1" checked="checked" />
      % else:
        <input type="checkbox" name="component" value="1"  />
      % endif
      <div class="microcopy">
      	 ${_("""Please tick this box if this model was created as a SketchUp Component. To save as a Component in SketchUp, select the desired elements, right click > 'Create Component', then right click > 'Save As...'""")}
      </div>
    </div>
    <div class="field">
      <div class="field-title padding-left left padding-right-small"><label for="grid">${_("Gauge:")}</label></div>
      <select name="grid" id="design-grid">
        <%
          states = ({
                  'value': u'450mm',
                  'label': _("450 mm"),
                  'default': False
              }, {
                  'value': u'550mm',
                  'label': _("550 mm"),
                  'default': True
              }, {
                  'value': u'600mm',
                  'label': _("600 mm"),
                  'default': False
              }, {
                  'value': u'900mm',
                  'label': _("900 mm"),
                  'default': False
              }, {
                  'value': u'other',
                  'label': _("Other (please specify in description)"),
                  'default': False
              }
          )
        %>
        % for item in states:
          % if target and item['value'] == target.grid or item['default']:
            <option value="${item['value']}" selected="selected">
              ${item['label']}
            </option>
          % else:
            <option value="${item['value']}">
              ${item['label']}
            </option>
          % endif
        % endfor
      </select>
	  <div class="microcopy">
      	 ${_("""To find out about gauges, please click here""")}
      </div>
      <div class="error"></div>
    </div>
    <div class="field">
      <div class="field-title padding-left left padding-right-small"><label for="verification">${_("Verification status:")}</label></div>
      <select name="verification" id="design-verification">
        <%
          states = ({
                  'value': u'unverified',
                  'label': _("Not checked by an engineer"),
                  'default': True
              }, {
                  'value': u'verified',
                  'label': _("Checked by an engineer"),
                  'default': False
              }, {
                  'value': u'built',
                  'label': _("Checked and tested or built"),
                  'default': False
              }
          )
        %>
        % for item in states:
          % if target and item['value'] == target.verification or item['default']:
            <option value="${item['value']}" selected="selected">
              ${item['label']}
            </option>
          % else:
            <option value="${item['value']}">
              ${item['label']}
            </option>
          % endif
        % endfor
      </select>
      <div class="error"></div>
    </div>
    <div class="field border-bottom padding-bottom margin-bottom">
      <div class="field-title padding-left left padding-right-small"><label for="design-notes">${_("Verification notes:")}</label></div>
      <% notes = target and target.notes or '' %>
      <textarea name="notes" id="design-notes">${notes and escape(notes) or ''}</textarea>
      <div class="error"></div>
    </div>
    <div class="hidden field">
      <input type="hidden" name="sketchup_version" id="design-sketchup-version"
          value="${target and target.sketchup_version or ''}"
      />
      <input type="hidden" name="plugin_version" id="design-plugin-version"
          value="${target and target.plugin_version or ''}"
      />
    </div>
    % if is_sketchup:
      <div class="hidden file-inputs">
        <div class="field">
          <div class="field-title padding-left left padding-right-small"><label for="model">${_("Model:")}</label></div>
          <textarea name="model" id="design-model"></textarea>
          <div class="microcopy">
	      	 ${_("""Please specify a replacement model file...""")}
	      </div>
        </div>
        <div class="field">
          <div class="field-title padding-left left padding-right-small"><label for="model_preview">${_("Model preview image:")}</label></div>
          <textarea name="model_preview" id="design-model-preview"></textarea>
          <div class="microcopy">
	      	 ${_("""Please specify a replacement model preview image.""")}
	      </div>
        </div>
        <div class="field">
          <div class="field-title padding-left left padding-right-small"><label for="model_preview_reverse">${_("Reverse model preview image:")}</label></div>
          <textarea name="model_preview_reverse" id="design-model-preview-reverse"></textarea>
          <div class="microcopy">
	      	 ${_("""Please specify a replacement reverse model preview image.""")}
	      </div>
        </div>
        <div class="field">
          <div class="field-title padding-left left padding-right-small"><label for="sheets">${_("Cutting sheets:")}</label></div>
          <textarea name="sheets" id="design-sheets"></textarea>
		  <div class="microcopy">
	      	 ${_("""Please specify a replacement cutting sheets '.dxf' file.""")}
	      </div>
        </div>
        <div class="field">
          <div class="field-title padding-left left padding-right-small"><label for="sheets_preview">${_("Cutting sheets preview image:")}</label></div>
          <textarea name="sheets_preview" id="design-sheets-preview"></textarea>
          <div class="microcopy">
	      	 ${_("""Please specify a replacement cutting sheets preview image.""")}
	      </div>
        </div>
      </div>
    % elif users.is_current_user_admin():
      <div class="file-inputs">
        <div class="field">
          <label for="model">${_("Override model:")}</label>
          <input name="model" type="file" id="design-model" />
        </div>
        <div class="field">
          <label for="model_preview">${_("Override model preview image:")}</label>
          <input name="model_preview" type="file" id="design-model-preview" />
        </div>
        <div class="field">
          <label for="model_preview_reverse">${_("Override reverse model preview image:")}</label>
          <input name="model_preview_reverse" type="file" id="design-model-preview-reverse" />
        </div>
        <div class="field">
          <label for="sheets">${_("Override cutting sheets:")}</label>
          <input name="sheets" type="file" id="design-sheets" />
        </div>
        <div class="field">
          <label for="sheets_preview">${_("Override cutting sheets preview image:")}</label>
          <input name="sheets_preview" type="file" id="design-sheets-preview" />
        </div>
      </div>
    % endif
    <input class="submit" type="submit" name="submit" value="${_(u'Save &amp; Upload')}" />
  </form>
  </div>
  <iframe id="design-form-communication-frame" name="design-form-communication-frame" class="hidden">
  </iframe>
  <script>
    var WIKIHOUSE_UPLOAD_PAGE = true;
  </script>
  
</%def>
