<!DOCTYPE HTML>
<html>
  <%def name="sub_title()"></%def>
  <%def name="sub_headers()"></%def>
  <%def name="main_content()"></%def>
  <%def name="actions()"></%def>
  <%def name="content()">
    <div class="slot-0-1-2-3">
      ${self.main_content()}
    </div>
    <div class="slot-4-5">
      ${self.actions()}
    </div>
  </%def>
  <head>
    <title>
      WikiHouse / ${self.sub_title()}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="WikiHouse is the open community construction set by Architecture 00:/.  Design, download and print CNC milled plywood houses and components." />
    <meta name="keywords" content="wikihouse, wiki, house, design, build, open, open source, community, standard, constrction, building, architecture, housing, CNC, CNC milling, wooden frame, plywood, 00:/." />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="${get_static_url('css/reset.css')}" />
    <!--[if lt IE 9 ]>
      <link rel="stylesheet" type="text/css"
          href="${get_static_url('css/simplegrid/720_grid.css')}"
      />
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 720px)"
        href="${get_static_url('css/simplegrid/720_grid.css')}"
    />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 986px)"
        href="${get_static_url('css/simplegrid/986_grid.css')}" 
    />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1236px)"
        href="${get_static_url('css/simplegrid/1236_grid.css')}" 
    />
    <link rel="stylesheet" type="text/css" 
        href="${get_static_url('css/wikihouse.css')}"
    />
    <%def name="sub_headers()"></%def>
    <base href="${request.host_url}" />
  </head>
  <body>
    <div class="wrapper">
      <div class="grid">
        <div class="row">
          <div class="slot-0-1 wh-logo">
            [WikiHouseLogo]
            <a href="http://creativecommons.org/publicdomain/zero/1.0/">
              (CC)</a>
          </div>
          <div class="slot-2-3-4-5 main-nav">
            <ul class="top-nav">
              <li class="external">
                <a href="http://wikihouse.tumblr.com/" title="Goto the WikiHouse Tumblog">
                  News</a>
              </li>
              <li>
                <a href="/support" title="Get Involved">
                  Get Involved</a>
              </li>
              <li>
                <a href="/contact" title="Contact Us">
                  Contact</a>
              </li>
              % if users.get_current_user() is None:
                <li>
                  <a href="${users.create_login_url(request.path)}" title="Login">
                    Login</a>
                </li>
              % else:
                % if users.is_current_user_admin():
                  <li>
                    <a href="/moderate" title="Moderate">
                      Moderate</a>
                  </li>
                % endif
                <li>
                  <a href="${users.create_logout_url(request.path)}" title="Logout">
                    Logout</a>
                </li>
              % endif
            </ul>
            <div class="row">
              <div class="slot-2-3-4-5">
                <ul class="main-nav">
                  <%
                    nav_items = [{
                            'value': '/',
                            'label': u'Home'
                        }, {
                            'value': '/standard',
                            'label': u'The Standard'
                        }, {
                            'value': '/library',
                            'label': u'Browse Library'
                        }, {
                            'value': '/download',
                            'label': u'Download Plugin'
                        }
                    ]
                  %>
                  % for item in nav_items:
                    <%
                      value = item['value']
                      label = item['label']
                      if value == '/':
                          selected = request.path == '/'
                      else:
                          selected = request.path.startswith(value)
                      
                    %>
                    <li class="${selected and 'selected' or ''}">
                      <a href="${value}" title="${label}">${label}</a>
                    </li>
                  % endfor
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          ${self.content()}
        </div>
        <div class="row">
          <div class="social-links">
            <span class="st_twitter_hcount" displayText="Tweet"></span>
            <span class="st_facebook_hcount" displayText="Facebook"></span>
            <span class="st_fblike_hcount"></span>
            <span class="st_plusone_hcount"></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js">
    </script>
    <script type="text/javascript">
      (function () {
        var switchTo5x = true;
        var using_ssl = document.location.protocol == 'https:';
        var stub = using_ssl ? 'https://ws' : 'http://w';
        var src = stub + '.sharethis.com/button/buttons.js';
        var tag = '%3Cscript src="' + src + '" type="text/javascript"%3E%3C/script%3E';
        document.write(unescape(tag));
      })();
    </script>
    <script type="text/javascript">
      stLight.options({'publisher': '386e0e7b-fee7-485d-af13-172a5107f9fb'});
    </script>
    <script type="text/javascript" src="${get_static_url('js/wikihouse.js')}">
    </script>
  </body>
</html>