<%def name="sub_title()"></%def>
<%def name="sub_headers()"></%def>

<!DOCTYPE HTML>
<html>
  <head>
    <title>
      Wiki House :: ${self.sub_title()}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Wiki House is the open source community construction standard defined by Architecture 00:/ for building collaboratively designed modular houses." >
    <meta name="keywords" content="wikihouse, wiki, house, design, build, open, open source, community, standard, constrction, building, architecture, housing, CNC, CNC milling, wooden frame." >
    <link rel="shortcut icon" href="/favicon.ico">
    <link type="text/css" rel="stylesheet" href="${get_static_url('css/wikihouse.css')}" />
    <base href="${request.host_url}" />
  </head>
  <body>
    
    ${next.body()}
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="${get_static_url('js/wikihouse.js')}">
    </script>
  </body>
</html>