<!DOCTYPE HTML>
<html>
  <%def name="sub_title()"></%def>
  <%def name="sub_headers()"></%def>
  <%def name="main_content()"></%def>
  <%def name="actions()"></%def>
  <%def name="content()">
    <div class="actions">
      ${self.actions()}
    </div>
    <div class="main-content">
      ${self.main_content()}
    </div>
  </%def>
  <head>
    <title>
      WikiHouse / ${self.sub_title()}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="${target_language},${','.join(remaining_languages)}" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="Fri, 01 Jan 1990 00:00:00 GMT" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="${_(u'WikiHouse is an open community construction set.  Design, share, download and print CNC milled houses and components.')}" />
    <meta name="keywords" content="wikihouse, ${_(u'wiki')}, ${_(u'house')}, ${_(u'design')}, ${_(u'build')}, ${_(u'open')}, ${_(u'open source')}, ${_(u'community')}, ${_(u'standard')}, ${_(u'construction')}, ${_(u'building')}, ${_(u'architecture')}, ${_(u'housing')}, CNC, CNC milling, ${_(u'wooden')}, ${_(u'plywood')}, 00:/, zero zero, espians." />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="${get_static_url('css/reset.css')}" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 720px)"
        href="${get_static_url('css/simplegrid/720_grid.css')}"
    />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 986px)"
        href="${get_static_url('css/simplegrid/986_grid.css')}" 
    />
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1236px) and (device-aspect-ratio: 4/3)"
        href="${get_static_url('css/simplegrid/1236_grid.css')}"
    />
    <link rel="stylesheet" type="text/css" 
        href="${get_static_url('css/wikihouse.css')}"
    />
    <%def name="sub_headers()"></%def>
    <base href="${request.host_url}" />
  </head>
  <body>
    <div class="wrapper padding-top">
      <div class="grid no-padding border-sides">
        <div class="row">
            <div class="slot-0-1-2-3-4-5 top-row border-bottom">
               <ul class="top-nav">
                  % if users.get_current_user() is None:
                    <a href="${users.create_login_url(request.path)}" title="${_(u'Login')}">
                      <li class="right border-left unselected">
                        ${_(u'Login')}
                      </li>
                    </a>
                  % else:
                    % if users.is_current_user_admin():
                      <a href="/admin/moderate" title="${_(u'Moderate')}">
                        <li class="right border-left unselected">
                          ${_(u'Moderate')}
                        </li>
                      </a>
                    % endif
                    <a href="${users.create_logout_url(request.path)}" title="${_(u'Logout')}">
                        <li class="right border-left unselected">
                          ${_(u'Logout')}
                        </li>
                    </a>
                  % endif
                  <%
                    secondary_nav_items = [{
                            'value': '/contact',
                            'label': _(u'Contact')
                        }, {
                            'value': '/donate',
                            'label': _(u'Donate')
                        }, {
                            'value': '/collaborate',
                            'label': _(u'Collaborate')
                        }
                    ]
                  %>
                  % for item in secondary_nav_items:
                    <%
                      value = item['value']
                      label = item['label']
                      selected = request.path.startswith(value)
                    %>
                    <a href="${value}" title="${label}">
                      <li class="${selected and 'selected' or 'unselected'} border-left right">
                        ${label}
                      </li>
                    </a>
                  % endfor
                  <a href="http://wikihouse.tumblr.com/" target="blank" title="${_(u'Goto the WikiHouse Tumblog')}">
                    <li class="external unselected right">
                      ${_(u'News')}
                    </li>
                  </a>
                </ul>
            </div>
        </div>
        <div class="row border-bottom">
          <div id="wh-logo" class="left">
            <div class="padding-sides-large">
                <a class="wh-logo-img" href="/">${_(u'[ WIKI HOUSE LOGO ]')}</a>
            </div>
            <div id="wh-logo-text" class="padding-left-large">
              <div>
                <a class="wh-logo-text" href="/">${_(u'[ WIKI HOUSE LOGO TEXT ]')}</a>
              </div>
              <div>
                <a class="wh-logo-cc" target="blank" href="http://creativecommons.org/licenses/by-sa/2.5/">${_(u'[ WIKI HOUSE LOGO CC ]')}</a>
              </div>
            </div>
          </div>
          <div id="main-menu">
            <ul class="main-nav">
              <%
                nav_items = [{
                        'value': '/',
                        'label': _(u'Home')
                    }, {
                        'value': '/about',
                        'label': _(u'How it Works')
                    }, {
                        'value': '/guide',
                        'label': _(u'Guide for Designers')
                    }, {
                        'value': '/library',
                        'label': _(u'Find Components')
                    }, {
                        'value': '/download',
                        'label': _(u'Download Plugin')
                    }
                ]
              %>
              % for item in nav_items:
                <%
                  value = item['value']
                  label = item['label']
                  if value == '/':
                      selected = request.path == '/'
                  else:
                      selected = request.path.startswith(value)

                %>
                  <li class="${selected and 'selected' or 'unselected'}">
                  <a href="${value}" class="links">
                    ${label}
                  </a>
                  </li>
              % endfor
            </ul>
          </div>
        </div>
        <div class="row">
          ${self.content()}
        </div>
        <div class="row border-top">
          <div class="slot-6">
            <div class="left margin-top padding-bottom-small padding-left">
              <a class="link strong" href="/legal/terms" title="$_(u'Terms and Conditions')}">${_(u'Terms of Use...')}</a>
            </div>
          </div>
          <div class="slot-7-8-9">
            <div class="social-links right padding-right-small padding-top-bottom-small">
              <span class="st_email_custom right padding-left-small"><a class="email-logo">${_(u'Email')}</a></span>
              <span class="st_plusone_custom right padding-left-small"><a class="google-logo">${_(u'Google Plus One')}</a></span>
              <span class="st_twitter_custom right padding-left-small"><a class="twitter-logo">${_(u'Tweet')}</a></span>
              <span class="st_facebook_custom right padding-left-small"><a class="fb-logo">${_(u'Facebook')}</a></span>
            </div>
          </div>
        </div>
        <div class="row border-top" id="footer">
          <div id="credits" class="padding-left left">
            <div class="left">
              <span class="small">Powered by:</span>
            </div>
            <div class="left logo-01">
              <a class="logo-00" target="blank" href="http://www.architecture00.net" alt="00:/" title="Architecture 00:/">[ 00:/ ]</a>
            </div>
            <div class="left logo-02">
              <a class="logo-esp" target="blank" href="http://www.espians.com" alt="Espians" title="Espians">[ ESPIANS ]</a>
            </div>
          </div>
          <div class="right logo-03">
            <div class="border-left padding-sides-large padding-top-small right">
              <a class="logo-gw" target="blank" href="http://gb.or.kr/?mid=main_eng" alt="Gwangju Design Biennale 2011" title="Gwangju Design Biennale 2011">${_(u'[Gwangju Design Biennale 2011]')}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js">
    </script>
    <script type="text/javascript">
      (function () {
        var switchTo5x = true;
        var using_ssl = document.location.protocol == 'https:';
        var stub = using_ssl ? 'https://ws' : 'http://w';
        var src = stub + '.sharethis.com/button/buttons.js';
        var tag = '%3Cscript src="' + src + '" type="text/javascript"%3E%3C/script%3E';
        document.write(unescape(tag));
      })();
    </script>
    <script type="text/javascript">
      stLight.options({'publisher': '386e0e7b-fee7-485d-af13-172a5107f9fb'});
      var WIKIHOUSE_IS_SKETCHUP = ${str(is_sketchup).lower()};
    </script>
    <script type="text/javascript" src="/i18n/message_strings.json">
    </script>
    <script type="text/javascript" src="${get_static_url('js/wikihouse.js')}">
    </script>
  </body>
</html>