<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Collaborate')}</%def>

<%def name="actions()">
  <div class="slot-6 padding-top-bottom">
    <div class="row padding-bottom">
      <h4>${_(u'Links')}</h4>
    </div>
    <div class="row padding-bottom padding-right">
      <ul class="nav-list">
        <li><a href="http://twitter.com/wikihouse" title="${_(u'Follow @wikihouse')}">${_(u'Follow @wikihouse')}</a></li>
        <li><a href="http://blog.wikihouse.cc" title="${_(u'Subscribe to the Blog')}">${_(u'Subscribe to the Blog')}</a></li>
        <li><a href="http://github.com/thruflo/wikihouse" title="${_(u'Join us on Github')}">${_(u'Join us on Github')}</a></li>
        <li><a href="http://flattr.com/thing/364964/Wiki-House" title="${_(u'Donate on Flattr')}">${_(u'Donate on Flattr')}</a></li>
      </ul>
    </div>
  </div>
</%def>

<%def name="main_content()">
  <div class="slot-7-8-9 padding-top-bottom">
    <div class="row padding-bottom-large">
      <h4>${_(u'Collaborate')}</h4>
    </div>
    <div class="padding-bottom">
      <div class="row padding-bottom-large text-block justify">
        ${_(u"""WikiHouse is a mass-collaborative experiment, still in its early stages. It is published as an open invitation to designers, makers and programmers to use and develop it. If you are interested in WikiHouse and would like to be part of the team, there are a number of ways you can collaborate:""")}
      </div>
      <ol class="list text-block justify">
        <li>
          ${_(u""" Download some of the models to play, edit and develop in Google SketchUp. Read through the Guide for Designers and the plugin Modelling Guidelines to familiarise yourself with WikiHouse. Using the WikiHouse plugin to share your models, login and contribute to the library.""")}
        </li>
        <li class="padding-top">
          ${_(u""" WikiHouse is currently being exhibited at the Gwangju Design Biennale in Korea. You are invited to download the Biennale prototype model and design the 'fourth section' for the exhibition. The selected design for the fourth section will be erected between 3rd and 9th October, and its designer(s) will be featured as part of the exhibition. For more information, follow the news blog.""")}
        </li>
        <li class="padding-top">
          ${_(u""" The WikiHouse ruby plugin script is also published under an open license. Software developers of all kinds are invited to download, improve and build upon it. In particular anyone familiar with Sketchup scripting and CAD/CAM programming is invited to help us develop and improve on a nesting algorithm for minimizing material waste, and going straight from SketchUp to G-Code for CNC-milling.""")}
        </li>
        <li class="padding-top">
          ${_(u""" WikiHouse is looking to establish a number of 'labs' around the world: groups of individuals interested in designing and testing prototype houses, with a view to making full-scale weather-tight structures. It is also an ambition that with services, cladding and fit-out solutions will be openly shared under a CC license. If you're interested in setting up or supporting one of these labs, please get in touch.""")}
        </li>
      </ol>
    </div>
  </div>
</%def>