<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Collaborate')}</%def>

<%def name="main_content()">
  <p>
    <!--
      
      Copy on how to collaborate on the project.
      
      
    -->
    ${_(u'This page is under construction.')}
  </p>
</%def>

<%def name="actions()">
  <div>
    <!--
      
      etc.
      
      
    -->
    <a href="http://github.com/thruflo/wikihouse">
      Github
    </a>
  </div>
</%def>
