<%inherit file="base.tmpl"/>
<%namespace name="index_tmpl" file="index.tmpl"/>

<%def name="sub_title()">${_(u'Community')}</%def>

<%def name="user_listing(item)">
  <li>
    <a href="/library/users/${item.id}" title="${item.nickname}">
      <img src="${item.avatar and item.avatar or item.get_gravatar()}" />
    </a>
  </li>
</%def>

<%def name="content()">
    <div class="slot-12 padding-top-bottom content-pane">
        <div class="row">
            <div class="padding-all">
                <h1>Join The Community</h1>
                <p>WikiHouse is being developed collaboratively by a small – but growing – community of people all around the world.  There is no fixed design 'team' or 'studio', but a steadily growing community of designers from all disciplines who share in common the belief that developing freely available design solutions which are affordable, sustainable, and adaptive to differing needs is a worthwhile aim. Anyone who is interested in, or is already working on, problems around this area is invited to join.</p>
            </div>
        </div>    
    </div>
    <div class="slot-12 padding-top-bottom content-pane">
        <div class="row">
            <div class="community-feed">
            </div>
            <div class="group column-container">
                <div class="col">
                    <a title="WikiHouse General Google Group" target="blank" href="https://groups.google.com/forum/?fromgroups#!forum/wikihouse">
                    <div class="group-item">
                        <div class="group-id">
                            Google Group A
                        </div>
                        <div class="group-title">
                            General Project
                        </div>
                        <div class="group-body">
                            Project organisation, goals, licensing and the open charter.
                        </div>
                        <div class="group-footer">
                            Join The Group >
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col">
                    <a title="WikiHouse Hardware Google Group" target="blank" href="https://groups.google.com/forum/?fromgroups#!forum/wikihouse-hardware">
                    <div class="group-item">
                        <div class="group-id">
                            Google Group B
                        </div>
                        <div class="group-title">
                            Hardware
                        </div>
                        <div class="group-body">
                            Open construction methods, materials, planning and processes.
                        </div>
                        <div class="group-footer">
                            Join The Group >
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col">
                    <a title="WikiHouse Software Google Group" target="blank" href="https://groups.google.com/forum/?fromgroups#!forum/wikihouse-software">
                    <div class="group-item">
                        <div class="group-id">
                            Google Group C
                        </div>
                        <div class="group-title">
                            Software
                        </div>
                        <div class="group-body">
                            Open code, automated design and file sharing tools.
                        </div>
                        <div class="group-footer">
                            Join The Group >
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    ${index_tmpl.links_row()}
</%def>
