<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Contact')}</%def>

<%def name="actions()">
  <div class="slot-6 padding-top-bottom">
    <div class="row">
      <h4>${_(u'Contact')}</h4>
    </div>
    <div class="row padding-bottom padding-right">
      <ul class="nav-list">
        <li><a href="/community">Community &raquo;</a></li>
        <li><a href="/press">Press &raquo;</a></li>
      </ul>
    </div>
  </div>
</%def>

<%def name="main_content()">
  <div class="slot-7-8-9 padding-top-bottom content-pane">
    <div class="row">
      <h4>${_(u'Get in Touch')}</h4>
    </div>
    <div class="padding-bottom">
      <div class="row padding-bottom-large text-block justify">
        <p class="row padding-bottom">
          If you have a general question or comment, please
          <a href="/community">
            go to the WikiHouse community space</a>. It may well be that
          members of the community can help you. Alternatively, if you're a
          journalist, magazine or website, you might like to
          <a href="/press">
            see the press page</a>.
        </p>
        <p class="row padding-bottom">
          Otherwise (if you definitely need to contact the core team) please
          send us a message using the form below. We'll get back to you as
          soon as we can.
        </p>
        <div id="wufoo-q7x2x3" class="row padding-top-bottom">
          <a href="http://fabhub.wufoo.com/forms/q7x2x3">
            WikiHouse Contact Form</a>.
        </div>
        <script type="text/javascript">var q7x2x3;(function(d, t) {
          var s = d.createElement(t), 
              options = {
                'userName':'fabhub', 
                'formHash':'q7x2x3', 
                'autoResize':true,
                'height':'639',
                'async':true,
                'header':'show'
              };
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { q7x2x3 = new WufooForm();q7x2x3.initialize(options);q7x2x3.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');
        </script>
      </div>
    </div>
  </div>
</%def>
