<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Contact')}</%def>

<%def name="actions()">
  <div class="slot-6 padding-top-bottom">
    <div class="row padding-bottom">
      <h4>${_(u'Contact/')}</h4>
    </div>
    <div class="row padding-bottom padding-right">
      <ul class="nav-list">
        <li><a href="mailto:hello@wikihouse.cc">hello@wikihouse.cc</a></li>
        <li><a href="mailto:press@wikihouse.cc">press@wikihouse.cc</a></li>
      </ul>
    </div>
  </div>
</%def>

<%def name="main_content()">
  <div class="slot-7-8-9 padding-top-bottom">
    <div class="row padding-bottom-large">
      <h4>${_(u'Get in Touch/')}</h4>
    </div>
    <div class="padding-bottom padding-sides">
      <div class="row section-intro padding-bottom-large padding-sides text-block justify">
        ${_(u"""The core WikiHouse platform is brought to you by """)}<a class="strong" href="http://www.architecture00.net" title="Architecture 00 Ltd" target="blank">00:/</a>${_(u', ')}<a class="strong" href="http://www.espians.com" title="Espians" target="blank">Espians</a>${_(u', and ')}<a class="strong" href="http://www.momentumengineering.com" title="Momentum Engineering" target="blank">Momentum Engineering</a>. ${_(u"""We are now looking to support a community of WikiHouse developers around the world who wish to take WikiHouse on to the next level. If you'd like to get in touch directly to discuss the project or ways to collaborate, or if you'd like to help us tell the WikiHouse story, then please drop us a line on the emails provided on this page.""")}
      </div>
    </div>
  </div>
</%def>
