<%inherit file="library.tmpl"/>

<%def name="sub_title()">${target.title}</%def>

<%def name="main_content()">
  <div id="design">
  % if is_sketchup:
    <div class="back-to-series-button">
      <a rel="back" href="#back">
        Go back</a>
    </div>
  % endif
  <h4>
    ${target.key().id()}
    <a href="/library/design/${target.key().id()}" id="design-title">${escape(target.title)}</a>
  </h4>
  <%
    google_user = users.get_current_user()
    is_user = google_user and google_user == target.user.google_user
    is_admin = users.is_current_user_admin()
  %>
  % if target.status == u'approved' or is_admin or is_user:
    % if target.model_preview:
      <div class="preview">
        <img src="${target.model_preview_serving_url}=320" />
      </div>
    % endif
    % if target.model_preview_reverse:
      <div class="preview">
        <img src="${target.model_preview_reverse_serving_url}=320" />
      </div>
    % endif
    % if target.sheets_preview:
      <div class="preview">
        <img src="${target.sheets_preview_serving_url}=320" />
      </div>
    % endif
    <div class="series">
      Series: 
      <%
        i = 0
        l = len(target.series)
      %>
      % for s in target.series:
        <% i = i + 1 %>
        <a href="/library/series/${s.name()}">
          ${s.name().upper()}</a>${i < l and ', ' or ''}
      % endfor
    </div>
    <div class="user">
      by 
      <a href="/library/user/${target.user.id}">
        ${escape(target.user.nickname)}</a>
    </div>
    <div class="verification">
      ${_(u'Verification:')} 
      % if target.verification == u'unverified':
        ${_(u'not structurally checked.')} 
      % elif target.status == u'verified':
        ${_(u'structurally checked.')}
      % elif target.status == u'built':
        ${_(u'structurally checked, tested &amp; built.')}
      % endif
    </div>
    % if is_admin or is_user:
      % if target.notes:
        <div class="notes">
          ${_(u'Notes:')} ${target.notes}
        </div>
      % endif
      <div class="status">
        ${_(u'Moderation status:')} 
        % if target.status == u'pending':
          ${_(u'pending moderation.')}
        % elif target.status == u'rejected':
          ${_(u'rejected.')}
        % else:
          ${_(u'approved.')}
        % endif
      </div>
      % if is_admin and target.status == u'pending':
        <form class="moderation-form" action="/moderate" method="post">
          ${xsrf_input}
          <input type="hidden" name="id" value="${target.key().id()}" />
          <input type="submit" name="action" value="${_(u'Approve')}" />
          <input type="submit" name="action" value="${_(u'Reject')}" />
        </form>
      % endif
    % endif
    % if target.model:
      <div class="download model">
        <a href="/blob/${target.model.key()}/${quote(target.title)}.skp"
            id="design-download" 
            rel="${target.component and '1' or '0'}">
          ${_(u'Download SketchUp Model')}</a>
      </div>
      <!--
        
        This link is just to show...
        
        
      <div class="hidden download base64 model">
        <a href="/blob64/${target.model.key()}"
           id="design-download-base64">Download Base64 Encoded</a>
        <textarea id="design-download-data"></textarea>
      </div>
      -->
    % endif
    % if target.sheets:
      <div class="download sheets">
        <a href="/blob/${target.sheets.key()}">
          ${_(u'Download CNC Cutting Sheets')}</a>
      </div>
    % endif
  % elif target.status == u'pending':
    <div class="status pending">
      ${_(u'This design is pending moderation.')}
    </div>
  % elif target.status == u'rejected':
    <div class="status pending">
      ${_(u'This design was rejected.')}
    </div>
  % endif
  % if not is_sketchup:
    <div class="comments row">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'wikihouse';
        var disqus_identifier = 'Design ${target.key().id()}';
        var disqus_url = '${request.path_url}';
        var disqus_developer = ${disqus_developer and '1' or '0'};
        var WIKIHOUSE_DOWNLOAD_PAGE = true;
      </script>
      <script type="text/javascript" src="//wikihouse.disqus.com/embed.js">
      </script>
      <noscript>
        ${_(u'Please enable JavaScript to view the comments.')}
      </noscript>
      <a href="http://disqus.com" class="dsq-brlink">
        ${_(u'Comments powered by')}
        <span class="logo-disqus">Disqus</span></a>
    </div>
  % endif
  </div>
</%def>
