<%inherit file="base.tmpl"/>

<%def name="sub_title()">${target.title}</%def>

<%def name="content()">
  <ul class="series-nav">
    % for item in series:
      <li>
        <a href="/library/series/${item.key().name()}">
          ${item.label}</a>
      </li>
    % endfor
  </ul>
  <div>
    <h1>${target.title}</h1>
    <p>
      ${target.description}
    </p>
  </div>
</%def>
