<%inherit file="library.tmpl"/>

<%def name="sub_title()">${target.title}</%def>

<%def name="main_content()">
  <h4>
    ${target.key().id()} 
    <a href="/library/design/${target.key().id()}">
      ${escape(target.title)}</a>
  </h4>
  <%
    user = users.get_current_user()
    is_user = user and bool(user.user_id() == target.user.user_id())
    is_admin = users.is_current_user_admin()
  %>
  % if target.status == u'approved' or is_admin or is_user:
    % if target.model_preview:
      <div class="preview">
        <img src="/blob/${target.model_preview.key()}" />
      </div>
    % endif
    % if target.model_preview_reverse:
      <div class="preview">
        <img src="/blob/${target.model_preview_reverse.key()}" />
      </div>
    % endif
    % if target.sheets_preview:
      <div class="preview">
        <img src="/blob/${target.sheets_preview.key()}" />
      </div>
    % endif
    <div class="series">
      <%
        i = 0
        l = len(target.series)
      %>
      % for s in target.series:
        <% i = i + 1 %>
        <a href="/library/series/${s.name()}">
          ${s.name().upper()}</a>${i < l and ', ' or ''}
      % endfor
    </div>
    <div class="user">
      by 
      <a href="/library/user/${target.user.user_id()}">
        ${escape(target.user.nickname())}</a>
    </div>
    % if is_admin or is_user:
      <div class="status pending">
        Status: 
        % if target.status == u'pending':
          pending moderation.
        % elif target.status == u'rejected':
          rejected.
        % else:
          approved.
        % endif
      </div>
      % if is_admin and target.status == u'pending':
        <form class="moderation-form" action="/moderate" method="post">
          ${xsrf_input}
          <input type="hidden" name="id" value="${target.key().id()}" />
          <input type="submit" name="action" value="Approve" />
          <input type="submit" name="action" value="Reject" />
        </form>
      % endif
    % endif
    % if target.model:
      <div class="download model">
        <a href="/blob/${target.model.key()}" title="Download SketchUp Model"/>
          Download SketchUp Model</a>
      </div>
    % endif
    % if target.sheets:
      <div class="download sheets">
        <a href="/blob/${target.sheets.key()}" title="Download CNC Cutting Sheets"/>
          Download CNC Cutting Sheets</a>
      </div>
    % endif
  % elif target.status == u'pending':
    <div class="status pending">
      This design is pending moderation.
    </div>
  % elif target.status == u'rejected':
    <div class="status pending">
      This design was rejected.
    </div>
  % endif
</%def>