<%inherit file="base.tmpl"/>

<%def name="sub_title()">Make a Donation</%def>

<%def name="main_content()">
  <p>
    <!--
      
      Donate copy.
      
      
    -->
    This page is under construction.
  </p>
</%def>

<%def name="actions()">
  <div>
    <!--
      Paypal donate button.
    -->
  </div>
  <div>
    <a href="http://flattr.com/thing/364964/Wiki-House">
      <img src="http://api.flattr.com/button/flattr-badge-large.png"
          alt="Flattr this" 
          title="Flattr this"
      />
    </a>
  </div>
</%def>
