<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Make a Donation')}</%def>

<%def name="actions()">
  <div class="slot-6 padding-top-bottom">
    <div class="row padding-bottom">
      <h4 class="padding-sides">${_(u'Donate/')}</h4>
    </div>
    <div class="padding-left-large">
    <!--
      Paypal donate button.
    -->
    </div>
    <div class="padding-left-large">
    <a href="http://flattr.com/thing/364964/Wiki-House">
      <img src="http://api.flattr.com/button/flattr-badge-large.png"
          alt="Flattr this" 
          title="Flattr this"
      />
    </a>
    </div>
  </div>
</%def>

<%def name="main_content()">
  <div class="slot-7-8-9 padding-top-bottom">
    <div class="row padding-bottom">
      <h4 class="padding-sides">${_(u'Supporting WikiHouse/')}</h4>
    </div>
    <div class="padding-left-large">
      <p>
      <!--
      
        Donate copy.
      
      
      -->
      ${_(u'This page is under construction.')}
      </p>
    </div>
  </div>
</%def>
