<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Download Plugin')}</%def>

<%def name="main_content()">
  Here's how to download the SketchUp plugin.
</%def>

<%def name="actions()">
  <div>
    Google SketchUp >>
  </div>
</%def>
