<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(title)}</%def>

<%def name="content()">
  <div class="super-graphic row border-bottom">
    <div class="slot-0-1-2-3">
      <div class="super-graphic-image">
        <a href="javascript:history.back()" title="${_(u'Go back')}">
          <img src="${get_static_url('gfx/super-graphic.png')}" />
        </a>
      </div>
    </div>
    <div class="slot-4-5">
      <div class="super-graphic-copy">
        <div class="right call-to-action">
          <h1>${_(error)}</h1>
        </div>
      </div>
    </div>
  </div>
</%def>
