<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(title)}</%def>

<%def name="content()">
  <div class="super-graphic row border-bottom">
    <div class="super-graphic-image slot-6-7-8">
      <a href="javascript:history.back()" title="${_(u'Go back')}">
        <img src="${get_static_url('gfx/super-graphic.png')}" />
      </a>
    </div>
    <div class="super-graphic-copy slot-9">
      <div class="right call-to-action">
        <h1>${_(error)}</h1>
      </div>
    </div>
  </div>
</%def>
