<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Guide for Designers')}</%def>

<%def name="actions()">
  <div class="slot-6 padding-top-bottom">
    <div class="row padding-bottom">
      <h4 class="padding-sides">${_(u'Download/')}</h4>
    </div>
    <div class="padding-left-large">
      Spec PDF
    </div>
    <div class="padding-left-large">
      User Guide PDF, etc.
    </div>
  </div>
</%def>

<%def name="main_content()">
  <div class="slot-7-8-9 padding-top-bottom">
    <div class="row padding-bottom">
      <h4 class="padding-sides">${_(u'Guide for Designers/')}</h4>
    </div>
    <div class="padding-left-large">
      How to use it, process, guide for designers...
    </div>
  </div>
</%def>

