<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'User Guide')}</%def>

<%def name="main_content()">
  How to use it, process, guide for designers...
</%def>

<%def name="actions()">
  <div>
    Spec PDF
  </div>
  <div>
    User Guide PDF, etc.
  </div>
</%def>
