<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Open Source Construction Set')}</%def>

<%def name="content()">
  <div class="super-graphic row">
    <div id="splash-container">
      <a href="#play-video" id="play-video">
        <div class="splash-text-container">
          <div class="splash-text">
            An Open Source Construction Set.
          </div>
        </div>
        <div class="splash-image-container">
          <img src="${get_static_url('gfx/wikihouse-mac.jpg')}" />
        </div>
      </a>
    </div>
    <div id="fitvid-container"></div>
  </div>
  <div class="quotes">
    <div class="quote-logos row border-bottom">
      <ul>
        <li class="as-featured-in">
          As featured in:
        </li>
        % for item in quotes:
          <li id="${item.key()}-quote-logo">
            <div class="quote-logo">
              % if item.href: 
                <a href="${item.href}" target="_blank">
                  <img src="${get_static_url('gfx/logos/logo.%s.png' % item.key().name())}" />
                </a>
              % else:
                <img src="${get_static_url('gfx/logos/logo.%s.png' % item.key().name())}" />
              % endif
            </div>
          </li>
        % endfor
      </ul>
    </div>
    <div class="quote-contents">
      % for item in quotes:
        <div data-quote-key="${item.key()}" class="quote-content">
          &ldquo;${_(item.content)}&rdquo;
        </div>
      % endfor
    </div>
  </div>
  <div class="row border-bottom" style="clear: top; background-color: #bdbdbd">
    <a href="http://wikihouserio.cc">
      <div class="slot-0-1-2-3 rio-image-container">
        <img src="${get_static_url('gfx/wikihouse-rio.png')}" />
      </div>
      <div class="slot-4-5">
        <div id="tagline">
          <h1>WikiHouse /RIO</h1>
          <p>
            An open-source maker lab in the heart of the favela
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="row overflow-hidden avatars">
    <div class="">
      <a href="/community" title="${_(u'WikiHouse Community')}">
        <ul class="right avatars-widget inner-shadow">
          % for item in avatars:
            <li class="right home-avatar">
              <img src="${item}" />
            </li>
          % endfor
        </ul>
      </a>
      <div class="clear">
      </div>
    </div>
  </div>
</%def>
