<%inherit file="base.tmpl"/>

<%def name="sub_title()">Open community construction set</%def>

<%def name="main_content()">
  <div class="slot-0-1 no-padding no-margin">
    <a class="slide-01" target="blank" href="/library">Browse the Library >></a>
  </div>
  <div class="slot-2-3 no-padding no-margin">
    <a class="slide-02" target="blank" href="/download">Download the Plugin >></a>
  </div>
  <div class="slot-4-5 no-padding no-margin">
    <a class="slide-03" target="blank" href="/download">Download the Plugin >></a>
  </div>
</%def>

<%def name="actions()">
  <div class="call-to-action">
    <a href="/library">Browse the Library >></a>
  </div>
  <div class="call-to-action">
    <a href="/download">Download the Plugin >></a>
  </div>
</%def>

