<%inherit file="base.tmpl"/>

<%def name="sub_title()"></%def>

<%def name="campaign_form(campaign)">
  <div class="challenge-form clearfix">
    <form id="challenge-${campaign['category']}-1"
        action="${donate_form['action_url']}" method="post">
      <input type="hidden" name="charset" value="utf-8" />
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="no_note" value="1" />
      <input type="hidden" name="rm" value="1" />
      <input type="hidden" name="business"
          value="${donate_form['business_email']}"
      />
      <input type="hidden" name="cancel_return"
          value="${donate_form['cancel_return_url']}"
      />
      <input type="hidden" name="custom"
          value="wikihouse.${campaign['category']}"
      />
      <input type="hidden" name="image_url"
          value="${donate_form['image_url']}"
      />
      <%
        category_name = campaign['category'].title()
      %>
      <input type="hidden" name="item_name"
          value="Fund the WikiHouse ${campaign['title3']}"
      />
      <input type="hidden" name="item_number"
          value="wikihouse.${campaign['category']}"
      />
      <input type="hidden" name="notify_url"
          value="${donate_form['notify_url']}"
      />
      <input type="hidden" name="return"
          value="${donate_form['return_url']}"
      />
      <input class="campaign-amount" type="text" name="amount"
          value="" placeholder="Amount, e.g. 30.00"
      />
      <select class="campaign-currency" name="currency_code">
        <option value="GBP">GBP (£)</option>
        <option value="EUR">EUR (€)</option>
        <option value="USD">USD ($)</option>
      </select>
      <input class="campaign-submit" type="submit" name="submit"
          value="Fund This Goal" />
    </form>
  </div>
  <div class="challenge-fund-link">
    <a href="#fund-${campaign['category']}"
        data-target="#challenge-${campaign['category']}-1">
      Fund This Goal</a>
  </div>
</%def>

<%def name="donate_rows(top_row_cls='')">
  <div class="row ${top_row_cls} white-border-bottom">
    <div class="slot-12">
      <div class="challenge-header">
        <h1 class="challenge-heading">
          Support WikiHouse Development
        </h1>
        <p>
          WikiHouse is a non-profit project, developing hardware and software
          which is open and shared in the commons, owned by everyone. Help us
          build the project by co-funding the next development goals &mdash;
          which are split into the three categories below. These are each
          individually fundable, so when you make a donation, your money will
          go directly towards funding the specific goal you choose.
        </p>
        <p>
          <a href="${get_static_url('doc/WikiHouseDevelopmentGoals.pdf')}"
                target="_blank">
            <span style="font-weight: bold; font-size: 110%">
              See more information on the goals here &raquo;</span></a>
        </p>
      </div>
    </div>
  </div>
  <!--
    
    Hidden phone
    
  -->
  <div class="hidden-phone border-bottom">
    <div class="row">
      % for campaign in campaigns:
        <div class="challenge-pillar">
          <div class="challenge-pillar-inner">
            <div class="challenge-icon">
              <%
                path = 'gfx/icons/{0}.png'.format(campaign['category'])
                url = get_static_url(path)
              %>
              <img src="${url}" />
            </div>
            <h4 class="challenge-category">
              ${campaign['title1'].title()}
            </h4>
            <h3 class="challenge-title">
              ${campaign['title2']}
            </h3>
            <p class="challenge-description">
              ${campaign['description']}
            </p>
          </div>
        </div>
      % endfor
    </div>
    <div class="row">
      % for campaign in campaigns:
         <div class="challenge-pillar">
          <div style="border-bottom: 1px solid #ddd;">
            <div class="challenge-funding">
              <div class="challenge-indicator">
                <div class="indicator">
                  <div class="indicator-top-bar">
                  </div>
                  <%
                    container_height = 260
                    height = container_height * campaign['percentage_raised'] / 100
                    margin_top = container_height - height
                  %>
                  <div class="indicator-level"
                      data-percentage="${campaign['percentage_raised']}"
                      style="height: ${height}px; margin-top: ${margin_top}px">
                  </div>
                </div>
              </div>
              <div class="challenge-stats">
                <div class="challenge-stat">
                  <div class="challenge-stat-value">
                    ${campaign['num_backers']}
                  </div>
                  <div class="challenge-stat-label">
                    % if campaign['num_backers'] == 1:
                      Backer
                    % else:
                      Backers
                    % endif
                  </div>
                </div>
                <div class="challenge-stat">
                  <div class="challenge-stat-value">
                    &pound;${campaign['total_raised']}
                  </div>
                  <div class="challenge-stat-label">
                    Funded
                  </div>
                </div>
                <div class="challenge-stat">
                  <div class="challenge-stat-value">
                    &pound;${campaign['target']}
                  </div>
                  <div class="challenge-stat-label">
                    Target
                  </div>
                </div>
              </div>
            </div>
          </div>
          ${self.campaign_form(campaign)}
        </div>
      % endfor
    </div>
  </div>
  <!--
    
    Visible phone
    
    
  -->
  <div class="visible-phone">
    <div class="row">
      % for campaign in campaigns:
        <div class="challenge-pillar">
          <div class="challenge-pillar-inner">
            <div class="challenge-icon">
              <%
                path = 'gfx/icons/{0}.png'.format(campaign['category'])
                url = get_static_url(path)
              %>
              <img src="${url}" />
            </div>
            <h4 class="challenge-category">
              ${campaign['title1'].title()}
            </h4>
            <h3 class="challenge-title">
              ${campaign['title2']}
            </h3>
            <p class="challenge-description">
              ${campaign['description']}
            </p>
          </div>
          ${self.campaign_form(campaign)}
        </div>
      % endfor
    </div>
  </div>
</%def>

<%def name="links_row()">
  <div class="row padding-bottom">
    <div class="slot-12 padding-top-bottom content-pane">
      <div class="links-pane">
        <div class="wh-teams">
          <div class="wh-teams_title padding-sides-large">
            <p>Links to WikiHouse Teams:</p>
          </div>
          <div class="group fullwidth">
            <div class="wh-teams_link">
              <a href="http://thinkradical.net"
                  title="Think Radical - WikiHouse NZ"><img src="${get_static_url('gfx/wh.NZ.png')}"></a>
            </div>
            <div class="wh-teams_link">
              <a href="http://wikihouserio.cc" title="WikiHouse RIO"><img src="${get_static_url('gfx/wh.RIO.png')}"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="links-pane">
        <div class="sister-proj">
          <div class="sister-proj_title padding-sides-large">
            <p>Affiliated Projects:</p>
          </div>
          <div class="group fullwidth">
            <div class="sister-proj_link">
                <a href="https://www.opendesk.cc"
                    title="OpenDesk - Open Source Furniture"><img src="${get_static_url('gfx/opendesk.png')}"></a>
            </div>
            <div class="sister-proj_link">
                <a href="https://www.fabhub.co.uk"
                    title="FabHub - Digital Fabrication Hub"><img src="${get_static_url('gfx/fabhub.png')}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</%def>

<%def name="content()">
  <div class="super-graphic row">
    <div id="splash-container">
      <div class="splash-text-container">
        <a href="#support" title="Join the Community">
          <div class="splash-text">
            Open Source Construction<span class="splash-text-set"> Set</span>
            <div class="splash-text-call-to-action">
              Support the project &raquo;
            </div>
          </div>
        </a>
      </div>
      <a href="#play-video" id="play-video" title="Play the Video">
        <div class="splash-image-container">
          <img src="${get_static_url('gfx/wikihouse-mac.jpg')}" />
        </div>
      </a>
    </div>
    <div id="fitvid-container"></div>
  </div>
  <div id="support">
    ${self.donate_rows()}
  </div>
  <div class="row">
     <div class="slot-0-1 hidden-phone">
        <img class="call-to-fund-img" src="${get_static_url('gfx/beapartofit.png')}" />
     </div>
     <div class="slot-2-3-4-5">
        <div class="call-to-fund">Be a part of it. Literally. Every funder will have their name cut into the parts of the prototype house, will be listed on the public release and personally be sent photographs and files.</div>
     </div>
  </div>
  <div class="quotes">
    <div class="quote-logos row border-bottom">
      <ul>
        <li class="as-featured-in">
          As featured in:
        </li>
        % for item in quotes:
          <li id="${item.key()}-quote-logo">
            <div class="quote-logo">
              % if item.href: 
                <a href="${item.href}" target="_blank">
                  <img src="${get_static_url('gfx/logos/logo.%s.png' % item.key().name())}" />
                </a>
              % else:
                <img src="${get_static_url('gfx/logos/logo.%s.png' % item.key().name())}" />
              % endif
            </div>
          </li>
        % endfor
      </ul>
    </div>
    <div class="quote-contents">
      % for item in quotes:
        <div data-quote-key="${item.key()}" class="quote-content">
          &ldquo;${_(item.content)}&rdquo;
        </div>
      % endfor
    </div>
  </div>
  <!--<div class="row border-bottom" style="overflow: hidden; height: 130px !important">
    <img src="${get_static_url('gfx/TEDprize.strap.png')}" width="966px" />
  </div>
  ${self.links_row()}
  <div class="row overflow-hidden avatars">
    <div class="">
      <a href="/community" title="${_(u'WikiHouse Community')}">
        <ul class="right avatars-widget inner-shadow">
          % for item in avatars:
            <li class="right home-avatar">
              <img src="${item}" />
            </li>
          % endfor
        </ul>
      </a>
      <div class="clear">
      </div>
    </div>
  </div>-->
</%def>
