<%inherit file="base.tmpl"/>

<%def name="sub_title()">${target is None and 'Browse Library' or target.title}</%def>

<%def name="design_listing(item, show_series=False)">
  <li>
    % if item.model_preview:
      <div class="thumbnail">
        <img src="/blob/${item.model_preview.key()}" />
      </div>
    % endif
    <div class="title">
      ${item.key().id()} 
      <a href="/library/design/${item.key().id()}">
        ${escape(item.title)}</a>
    </div>
    % if show_series:
      <div class="series">
        <%
          i = 0
          l = len(item.series)
        %>
        % for s in item.series:
          <% i = i + 1 %>
          <a href="/library/series/${s.name()}">
            ${s.name().upper()}</a>${i < l and ', ' or ''}
        % endfor
      </div>
    % endif
    <div class="user">
      by 
      <a href="/library/user/${item.user.user_id()}">
        ${escape(item.user.nickname())}</a>
    </div>
  </li>
</%def>

<%def name="main_content()">
  <h4>Designs</h4>
  <ul class="designs">
    <% 
      show_series = target is None
    %>
    % for item in designs:
      ${self.design_listing(item, show_series=show_series)}
    % endfor
  </ul>
</%def>

<%def name="actions()">
  <h4>Series</h4>
  <ul class="series-nav">
    <!--
      
      It may be we need to duplicate the series blocks here and show hide
      a seperate block when the layout is less than 768 / whatever triggers
      an inline block menu.
      
      For now, we're show/hiding a panel within the navigation `<li />`sm which
      is fine for a vertical accordion style menu.
      
      
    -->
    % for item in series:
      <li class="${target and target.key() == item.key() and 'selected' or ''}">
        <div class="bar">
          <a href="/library/series/${item.key().name()}">
            ${item.title}</a>
        </div>
        <div class="panel">
          <div class="series-image">
            <img src="${get_static_url('gfx/series/%s.png' % item.key().name())}" />
          </div>
          <div class="description">
            ${item.description}
          </div>
          <div class="more-info-link">
            <a href="/about#series">More information</a>
          </div>
        </div>
      </li>
    % endfor
  </ul>
</%def>

<%def name="content()">
  <div class="slot-0-1">
    ${self.actions()}
  </div>
  <div class="slot-2-3-4-5">
    ${self.main_content()}
  </div>
</%def>
