<%inherit file="base.tmpl"/>

<%def name="sub_title()">${target is None and _(u'Browse Library') or target.title}</%def>

<%def name="design_listing(item, show_series=False)">
  <li>
  <div class="row">
    <div class="design-panel">
      % if item.model_preview:
        <div class="thumbnail left">
          <img src="/blob/${item.model_preview.key()}" />
        </div>
      % endif
      <div class="design-details left padding-left">
        <div class="title">
          <!--${item.key().id()}-->
          <a href="/library/design/${item.key().id()}">
            <h4>${escape(item.title)}</h4></a>
        </div>
        <div class="user padding-top">
          by: 
          <a href="/library/user/${item.user.user_id()}">
            ${escape(item.user.nickname())}</a>
        </div>
      </div>
      % if show_series:
        <div class="series left">
          Series: 
          <%
            i = 0
            l = len(item.series)
          %>
          % for s in item.series:
            <% i = i + 1 %>
            <a href="/library/series/${s.name()}">
              ${s.name().upper()}</a>${i < l and ', ' or ''}
          % endfor
        </div>
      % endif
    </div>
  <div>
  </li>
</%def>

<%def name="main_content()">
  <h4>${_(u'Designs')}</h4>
  <ul class="designs">
    <% 
      show_series = target is None
    %>
    % for item in designs:
      ${self.design_listing(item, show_series=show_series)}
    % endfor
  </ul>
</%def>

<%def name="actions()">
  <h4>Series</h4>
  <div class="series-block">
    % for item in series:   
      % if target.key() == item.key():
        <div class="padding-sides-small selected">
          <div class="series-title padding-top-bottom">
            <a href="/library/series/${item.key().name()}">
              ${item.title}</a>
          </div>
          <div class="description padding-top-bottom">
            ${item.description}
          </div>
          <div class="more-info-link padding-bottom">
            <a href="/about#series" class="link small strong">More information...</a>
          </div>
        </div>
      % endif
    % endfor
  </div>
  <ul class="series-nav">
    % for item in series:
      <%
        selected = bool(target and target.key() == item.key()) and True or False
      %>
      <li class="series-selectors ${selected and 'selected-series' or ''}">
        <div class="bar">
          <a href="/library/series/${item.key().name()}">
            <img class="series-button ${selected and 'selected' or ''}"
                src="${get_static_url('gfx/series/%s.tr.png' % item.key().name())}"
            />
          </a>
        </div>
      </li>
    % endfor
  </ul>
</%def>

<%def name="content()">
  <div class="series-small">
    <div class="series">
      ${self.actions()}
    </div>
  </div>
  <div class="slot-6-7-8 series-small">
    <div class="">
      ${self.main_content()}
    </div>
  </div>
  <div class="slot-6-7-8 series-big">
    <div class="">
      ${self.main_content()}
    </div>
  </div>
  <div class="slot-9 series-big">
    <div class="series">
      ${self.actions()}
    </div>
  </div>
</%def>
