<%
_("Bad Request")
_("The server could not comply with the request since it is either malformed or otherwise incorrect.")
_("Unauthorized")
_("This server could not verify that you are authorized to access the document you requested. Either you supplied the wrong credentials (e.g., bad password), or your browser does not understand how to supply the credentials required.")
_("Payment Required")
_("Access was denied for financial reasons.")
_("Forbidden")
_("Access was denied to this resource.")
_("Not Found")
_("The resource could not be found.")
_("Method Not Allowed")
_("The server could not comply with the request since it is either malformed or otherwise incorrect.")
_("Not Acceptable")
_("The server could not comply with the request since it is either malformed or otherwise incorrect.")
_("Proxy Authentication Required")
_("Authentication with a local proxy is needed.")
_("Request Timeout")
_("The server has waited too long for the request to be sent by the client.")
_("Conflict")
_("There was a conflict when trying to complete your request.")
_("Gone")
_("This resource is no longer available. No forwarding address is given.")
_("Length Required")
_("Content-Length header required.")
_("Precondition Failed")
_("Request precondition failed.")
_("Request Entity Too Large")
_("The body of your request was too large for this server.")
_("Request-URI Too Long")
_("The request URI was too long for this server.")
_("Unsupported Media Type")
_("The server could not comply with the request since it is either malformed or otherwise incorrect.")
_("Request Range Not Satisfiable")
_("The Range requested is not available.")
_("Expectation Failed")
_("Expectation failed.")
_("Unprocessable Entity")
_("Unable to process the contained instructions")
_("Locked")
_("The resource is locked")
_("Failed Dependency")
_("The method could not be performed because the requested action dependended on another action and that action failed")
_("Multiple Choices")
_("The resource has been moved to")
_("Moved Permanently")
_("The resource has been moved to")
_("Found")
_("The resource was found at")
_("See Other")
_("The resource has been moved to")
_("Not Modified")
_("")
_("Use Proxy")
_("The resource must be accessed through a proxy located at")
_("Temporary Redirect")
_("The resource has been moved to")
_("OK")
_("")
_("Created")
_("")
_("Accepted")
_("The request is accepted for processing.")
_("Non-Authoritative Information")
_("")
_("No Content")
_("")
_("Reset Content")
_("")
_("Partial Content")
_("")
_("Internal Server Error")
_("The server has either erred or is incapable of performing the requested operation.")
_("Not Implemented")
_("The server has either erred or is incapable of performing the requested operation.")
_("Bad Gateway")
_("Bad gateway.")
_("Service Unavailable")
_("The server is currently unavailable. Please try again at a later time.")
_("Gateway Timeout")
_("The gateway has timed out.")
_("HTTP Version Not Supported")
_("The HTTP version is not supported.")
_("Insufficient Storage")
_("There was not enough space to save the resource")
%>