<%
_("Accepted")
_("Access was denied for financial reasons.")
_("Access was denied to this resource.")
_("Authentication with a local proxy is needed.")
_("Bad gateway.")
_("Bad Gateway")
_("Bad Request")
_("Conflict")
_("Content-Length header required.")
_("Created")
_("Expectation failed.")
_("Expectation Failed")
_("Failed Dependency")
_("Forbidden")
_("Found")
_("Gateway Timeout")
_("Gone")
_("HTTP Version Not Supported")
_("Insufficient Storage")
_("Internal Server Error")
_("Length Required")
_("Locked")
_("Method Not Allowed")
_("Moved Permanently")
_("Multiple Choices")
_("No Content")
_("Non-Authoritative Information")
_("Not Acceptable")
_("Not Found")
_("Not Implemented")
_("Not Modified")
_("OK")
_("Partial Content")
_("Payment Required")
_("Precondition Failed")
_("Proxy Authentication Required")
_("Request Entity Too Large")
_("Request precondition failed.")
_("Request Range Not Satisfiable")
_("Request Timeout")
_("Request-URI Too Long")
_("Reset Content")
_("See Other")
_("Service Unavailable")
_("Temporary Redirect")
_("The body of your request was too large for this server.")
_("The gateway has timed out.")
_("The HTTP version is not supported.")
_("The method could not be performed because the requested action dependended on another action and that action failed")
_("The Range requested is not available.")
_("The request is accepted for processing.")
_("The request URI was too long for this server.")
_("The resource could not be found.")
_("The resource has been moved to")
_("The resource is locked")
_("The resource must be accessed through a proxy located at")
_("The resource was found at")
_("The server could not comply with the request since it is either malformed or otherwise incorrect.")
_("The server has either erred or is incapable of performing the requested operation.")
_("The server has waited too long for the request to be sent by the client.")
_("The server is currently unavailable. Please try again at a later time.")
_("There was a conflict when trying to complete your request.")
_("There was not enough space to save the resource")
_("This resource is no longer available. No forwarding address is given.")
_("This server could not verify that you are authorized to access the document you requested. Either you supplied the wrong credentials (e.g., bad password), or your browser does not understand how to supply the credentials required.")
_("Unable to process the contained instructions")
_("Unauthorized")
_("Unprocessable Entity")
_("Unsupported Media Type")
_("Use Proxy")
%>