<%inherit file="base.tmpl"/>

<%def name="sub_title()">${_(u'Press')}</%def>

<%def name="actions()">
  <div class="slot-6 padding-top-bottom">
    <div class="row">
      <h4>${_(u'Downloads')}</h4>
    </div>
    <div class="row padding-bottom padding-right">
      <ul class="nav-list">
        <li>
          <a href="${get_static_url('docs/WikiHousePressPack-May2013.zip')}">
            Press Pack &raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</%def>

<%def name="main_content()">
  <div class="slot-7-8-9 padding-top-bottom content-pane">
    <div class="row">
      <h4>${_(u'Press Enquiries')}</h4>
    </div>
    <div class="padding-bottom">
      <div class="row padding-bottom-large text-block justify">
        <p class="row padding-bottom">
          We're happy to respond to press enquiries and / or speaking requests.
          Please see the press pack and get in touch by emailing us on
          <a href="mailto:press@wikihouse.cc">
            press@wikihouse.cc</a>
        </p>
      </div>
    </div>
  </div>
</%def>
