<%inherit file="base.tmpl"/>

<%def name="sub_title()">${target.label}</%def>

<%def name="content()">
  <ul class="series-nav">
    % for item in series:
      <li class="${item == target and 'selected' or ''}">
        <a href="/library/series/${item.key().name()}">
          ${item.label}</a>
      </li>
    % endfor
  </ul>
  <ul class="designs">
    % for item in designs:
      <li>
        <a href="/library/design/${item.key().id()}">
          ${item.title}</a>
      </li>
    % endfor
  </ul>
</%def>
