<%inherit file="base.tmpl"/>

<%def name="sub_title()">The Standard</%def>

<%def name="main_content()">
  Information about the WikiHouse standard.  Lorum ipsum...
</%def>

<%def name="actions()">
  <div>
    Download the Specification (PDF) >>
  </div>
  <div>
    Download the User Guide (PDF) >>
  </div>
</%def>
