<%inherit file="base.tmpl"/>

<%def name="sub_title()">Support the Project</%def>

<%def name="main_content()">
  <p>
    a) you can get involved by contributing to the library.
  </p>
  <p>
    b) you can donate by flattr or paypal
  </p>
</%def>

<%def name="actions()">
  <a href="http://flattr.com/thing/364964/Wiki-House">
    <img src="http://api.flattr.com/button/flattr-badge-large.png"
        alt="Flattr this" 
        title="Flattr this"
    />
  </a>
</%def>
