<%inherit file="library.tmpl"/>

<%def name="sub_title()">${target.nickname}</%def>

<%def name="main_content()">
  <h4 class="padding-sides">${_(u'Designs')}</h4>
  <ul class="designs">
    % for item in designs:
      ${self.design_listing(item, show_series=True)}
    % endfor
  </ul>
</%def>

<%def name="actions()">
  <h4 class="padding-sides">${_(u'User')}</h4>
  <div class="user-block padding-left-large">
    <div class="user-image">
    <a href="/library/users/${target.id}" title="${target.nickname}">
      % if target.avatar:
        <img src="${target.avatar}" />
      % else:
        <img src="${get_static_url('gfx/avatar.png')}" />
      % endif
    </a>
    </div>
    <div class="user-name padding-top">
    ${target.nickname}
    </div>
    <% 
      google_user = users.get_current_user()
      is_user = google_user and google_user.user_id() == target.google_user_id
    %>
    % if target.avatar and not target.has_real_avatar:
      % if is_user:
        <div class="gravatar-prompt">
          ${_(u'Not seeing your profile image?')}
          <a href="http://en.gravatar.com/site/signup/${quote(target.email)}">
            ${_(u'Register with Gravatar')}</a>.
        </div>
      % endif
    % endif
  </div>
</%def>