<%
_(u'Complete Houses designed from WikiHouse Components')
_(u'Joints used in the WikiHouse Kit')
_(u'Single sections of WikiHouse - 1.2 metres wide')
_(u'Single sections of WikiHouse - 2.4 metres wide')
_(u'Single sections of WikiHouse - 3.6 metres wide')
_(u'Composite sections of WikiHouse - 4.8 metres wide')
_(u'Composite sections of WikiHouse - 4.8 metres wide')
_(u'Composite sections of WikiHouse - 6.0 metres wide')
_(u'Composite sections of WikiHouse - 7.2 metres wide')
_(u'Composite sections of WikiHouse - 8.4 metres wide')
_(u'Composite sections of WikiHouse - 9.6 metres wide')
_(u'Other miscellaneous Components')
_(u'I see my share of off-the-wall schemes... this is the first one I\'ve seen that I could quite likely build and inhabit, personally.')
_(u'...a compelling example of an open source platform emerging in a new area.')
_(u'The innovative concept opens opportunities to the public to experiment with building their own personalised structures.')
_(u'WikiHouse promises printable homes, work for the world\'s idle CNC routers.')
_(u'Four years ago I thought the digital house would come in a box. How primitive; now you just print it out on site.')
%>